@page
@model GetCertPublicKeyModel
@{
    ViewData["Title"] = "获取证书公钥";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Index">首页</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Alipay/Index">支付宝</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Alipay/SecurityTools/Index">安全工具</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<div class="card mb-3">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Cert"></label>
                <input class="form-control" asp-for="Cert"/>
            </div>
            <button class="btn btn-primary mb-3" type="submit">提交请求</button>
        </form>
        <hr/>
        @if (ViewData["response"] is string response && !string.IsNullOrEmpty(response))
        {
            <div class="mb-3">
                <label class="form-label">应答</label>
                <textarea class="form-control" rows="10">@response</textarea>
            </div>
        }
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
