@page
@model IndexModel
@{
    ViewData["Title"] = "安全工具";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Index">首页</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Alipay/Index">支付宝</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<div class="mb-3">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" asp-page="/Alipay/SecurityTools/ConvertCertPrivateKey">转换证书私钥 PKCS#8 => PKCS#1</a>
        <a class="list-group-item list-group-item-action" asp-page="/Alipay/SecurityTools/GetCertPublicKey">获取证书公钥</a>
        <a class="list-group-item list-group-item-action" asp-page="/Alipay/SecurityTools/GetCertSN">获取证书序列号</a>
        <a class="list-group-item list-group-item-action" asp-page="/Alipay/SecurityTools/GetRootCertSN">获取根证书序列号</a>
    </div>
</div>
