@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}
<section>
    <div class="container">
        <div class="col-md-8 mx-auto text-center">
            <h1 class="display-3 mb-3">Paylinks</h1>
            <p class="lead mb-3">一套基于 现代 .NET 开发，支持跨平台、多商户的第三方支付SDK。</p>
            <p class="text-body mb-3">为简化开发者接入第三方支付平台而设计的SDK，支持支付宝和微信支付，便于快速集成支付功能。</p>
        </div>
    </div>
</section>
